// DarkMode
$accentLight-dark: #37a6e6;
$accentDark-dark: #0e2939;
$textLight-dark: #ffffff;
$textDark-dark: #a0a9ac;
$bgLight-dark: #131e34;
$bgDark-dark: #040405;
$container-dark: #1a2b4f; //50% opacity
$live: #00a707;

// LightMode
$accentLight-light: #0085d2;
$accentDark-light: #0c5d8c;
$textLight-light: #575757;
$textDark-light: black;
$bgLight-light: #797979;
$bgDark-light: #f3f3f3;
$container-light: #8c8c8c; //50% opacity
$live: #00a707;
